{% extends "layout.jinja2" %}
        {% block content %}
        <form method="POST">
            <table>
                <tr><input type="text" value="{{entry.title}}"></tr>
                <tr><input type="text" value="{{entry.body}}" id="body_entry"></tr>
                <tr><input type="submit" value="Submit"></tr>
            </table>
        </form>
        {% endblock %}