<html>
    <head>
        <title>
            Details of Journal Entry
        </title>
        <link rel="stylesheet" type="text/css" href="detail.css">
    </head>
    <body>

        <nav>
            <h3><a href="new.jinja2">New Entry</a></h3>
            <h3><a href="index.jinja2">HOME</a></h3>
            <h3><a href="edit.jinja2">Edit</a></h3>
        </nav>

        <hr></hr>

        <div class="journal_entry">
            <h2 class="entry_title"></h2>
            <p class="entry_date"></p>
            <p class="entry_body"></p>
        </div>

        <hr></hr>
        <footer>THIS IS THE FOOTER</footer>
    </body>
</html>