{% extends "layout.jinja2" %}

        {% block content %}
            {% for entry in entries %}
        <div class="journal_entry">
            <h2 class="entry_title">{{entry.title}}</h2>
            <p class="entry_date">{{entry.data}}</p>
        </div>
        {% endfor %}
        {% endblock %}