<html>
    <head>
        <title>
            PYRAMID LEARNING JOURNAL
        </title>
        <link rel="stylesheet" type="text/css" href="../static/index.css">
    </head>
    <body>
        <h1>PYRAMID LEARNING JOURNAL</h1>

        <nav>
            <h3><a href="detail.jinja2">Detail</a></h3>
            <h3><a href="edit.jinja2">Edit</a></h3>
            <h3><a href="new.jinja2">New Entry</a></h3>
        </nav>

        <hr></hr>

        <div class="journal_entry">
            <h2 class="entry_title"><a href="detail.html">Sample</a></h2>
            <p class="entry_date"></p>
        </div>

        </div>

        <hr></hr>
        <footer>THIS IS THE FOOTER</footer>
    </body>
</html>