<html>
    <head>
        <title>
            Create a New Journal Entry
        </title>
        <link rel="stylesheet" type="text/css" href="../static/new.css">
    </head>
    <body>

        <nav>
            <h3><a href="/journal/2">Detail</a></h3>
            <h3><a href="/">HOME</a></h3>
            <h3><a href="/journal/2/edit-entry">Edit</a></h3>
        </nav>

        <hr></hr>

        <form>
            <table>
                <tr><input type="text" placeholder="Title"></tr>
                <tr><input type="text" placeholder="Body" id="body_entry"></tr>
                <tr><input type="submit" value="Submit"></tr>
            </table>
        </form>

        <hr></hr>
        <footer>THIS IS THE FOOTER</footer>
    </body>
</html>